/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-radius: 15px;
}
.text-field{
	-fx-background-radius: 15px;
}
.root{
	-fx-background-color:  #00BFFF;
}
.table-view .column-header-background{
	-fx-color: #FFFFFF;
}